.prefooter-container {
  background-color:#feeb64;
  text-align: center;
  padding: 0.51rem;
  color: #16479c;
  margin-top: 10rem;
  border-top: solid 0.2rem yellow;
  border-bottom: solid 0.2rem yellow;

}

.prefooter-title {
  font-size: 20px;
}

.prefooter-container a {
  padding-left: 1rem;
  color: #0e306b;


}

